# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.docker

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
GEMINI.md
google-chrome-stable_current_amd64.deb
CLAUDE.md